body {
  margin: 0;
  font-family: Sniglet, sans-serif;
}

button {
  padding: .5rem 1rem;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  background-color: #99d;
  border-radius: 2px;
  cursor: pointer;
  transition: all .3s;
}

button:hover, button:focus {
  background-color: #88d;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
}

select {
  padding: .5rem 1rem;
  font-family: Sniglet;
  font-size: 1.1rem;
}

p { font-size: 1.2rem; }

.sm-container {
  text-align: center;
  margin: 4rem 0;
}

.sm-controls {
  margin: 1rem 0;
}

.sm-grid {
  margin: 0 auto 1rem;
  padding: 0;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
}

.sm-cell {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  box-shadow: 0 0 1px 0;
}

.sm-cell-link {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  color: #555;
  background-color: #ccc;
  outline: none;
}

.sm-cell-link:before {
  color: #555;
}

.sm-cell.flagged .sm-cell-link:before {
  content: "F";
  color: #f70;
}

.sm-cell.flagged.revealed .sm-cell-link:before {
  content: "";
}

.sm-cell-link.adjacent-1:before {
  content: "1";
  color: #55a;
}

.sm-cell-link.adjacent-2:before {
  content: "2";
  color: #5a5;
}

.sm-cell-link.adjacent-3:before {
  content: "3";
  color: #a55;
}

.sm-cell-link.adjacent-4:before {
  content: "4";
  color: #b2b;
}

.sm-cell-link.adjacent-5:before {
  content: "5";
  color: #544;
}

.sm-cell-link.adjacent-6:before {
  content: "6";
  color: #399;
}

.sm-cell-link.adjacent-7:before {
  content: "7";
  color: #d0d;
}

.sm-cell-link.adjacent-8:before {
  content: "8";
  color: #333;
}

.sm-cell-link:hover,
.sm-cell-link:focus {
  background-color: #d5d5d5;
}

.sm-cell.revealed .sm-cell-link {
  background-color: #eee;
}

.sm-cell.revealed.swine .sm-cell-link {
  background-color: #eeb;
  background-image: url('../images/swine.png');
  background-size: contain;
}

.sm-cell.revealed.swine.is-user-clicked .sm-cell-link {
  background-color: #a55;
}
